*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0 0 0 0;
}
html {
    /*height: 100%;*/
    /*margin: 0;*/

    /*background-repeat: no-repeat;*/
}
body{
    /*max-height: 1024px;*/
    font-family: Circe, sans-serif;
    /*background-image: url("../images/bg_main_page.jpg");*/
    /*background-size: 100% 100%;*/
}
#background{
    width: 100%;
    min-height: 100vh;
    /*background-image: url('../images/bg_main_page.jpg');*/
    position: absolute;
    z-index: 0;
    transition:all .3s linear;
}

/*.bg_main{*/
/*    background-image: url('../images/bg_main_page.jpg');*/
/*    !*filter: blur(3px);*!*/
/*    !*transform: scale(1.02);*!*/

/*}*/
/*.bg_shop{*/
/*    background-image: url("../images/bg_main_shop.jpg");*/
/*    opacity: 100%;*/
/*    !*transisition: opacity 0.1s linear;*!*/
/*}*/
/*.bg_prod{*/
/*    background-image: url("../images/bg_main_prod.jpg");*/
/*}*/

.main_page{
    width: 100%;
    /*height: 100vh;*/
    min-height: 100vh;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    /*background-image: url('../images/bg_main_page.jpg');*/
    /*background-color: #eee;*/
    /*background-repeat: no-repeat;*/
}

h1{
    margin: 60px 0;
    width: 100%;
    font-size: 120px;
    color: #000;
    font-weight: normal;
    text-align: center;
    line-height: 0.8;
}
.buttons{
    height: 50%;
    width: 80%;
    /*margin: auto;*/
    display: flex;
    justify-content: center;
    /*width: 400px;*/
    /*height: 600px;*/
    /*margin-top: 150px;*/
    flex-wrap: wrap;
    text-align: center;
}

a{
    width: 400px;
    height: 300px;
    text-decoration: none;
    background: white;
    opacity: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #000;
    margin: 30px;
}
.button_text{
    font-size: 45px;
}
.logo{
    width: 100px;
    opacity: 100%;
}
#btn_shop:hover{
    transition: all 0.5s linear;
    transition: color 0s linear;
    background-color: black;
    color: white;
    opacity: 90%;
}
#btn_prod:hover{
    transition: all 0.5s linear;
    transition: color 0.2s linear;
    background-color: black;
    color: white;
    opacity: 90%;

}
@media (max-width: 992px) {
    .main_content{
        transform: scale(2.5);
    }
    h1{
        margin-top: 150px;
    }
    .buttons{


    }
    a{
        margin: 50px;
        width: 450px;
        height: 350px;
    }
    .button_text{
        font-size: 35px;
    }
}@media (max-width: 767px) {

    .button_text{
        font-size: 25px;
    }
    #background{
        transform: scale(1.5);
    }
}
/*@media (max-width: 767px) {*/
/*    #background{*/
/*        transform: scale(0.5);*/
/*    }*/
/*    .buttons{*/
/*        display: flex;*/
/*        justify-content: space-around;*/
/*        width: 200px;*/
/*        height: 150px;*/
/*        !*margin-top: 150px;*!*/
/*        flex-wrap: wrap;*/
/*    }*/
/*    .button_text{*/
/*        font-size: 25px;*/
/*    }*/

/*}*/

/*.button {*/

/*}*/
/*.btn-prod{*/
/*    margin-left: 100px;*/
/*}*/
/*.btn-shop{*/
/*    margin-right: 100px;*/
/*}*/
