*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0 0 0 0;
}
body{
    font-family: Circe, sans-serif;
    color: black;
    line-height: 1.2;
    width: 100%;
}
header{
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}
        /*  Главная страница  */
.header{
    /*background: url("../images/bg_main_shop.jpg") no-repeat center/cover ;*/
    overflow: hidden;
    position: relative;

}
.header::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;left: 0;
    z-index: 3;
}

.overlay{
    position: absolute;
    padding-bottom: 56.25%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
#bg_video{
    min-height: 100%;
    width: auto;
}

.main_content{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
#main_container{
    /*position: absolute;*/
    top: 0;
    left: 0;
    z-index: 4;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    /*left: 50%;*/
}
.space{
    height: 30px;
}
.top_buttons{
    display: flex;
    justify-content: space-between;
}
.back_button{
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    /*background-color: #ffffff;*/
    color: #AED2C7;
    opacity: 0.4;
    font-size: 25px;
    transition: all 0.2s linear;
}
.back_button:hover{
    opacity: 1;
}
.back{
    color: white;
    text-decoration: none;
    transition: all 0.1s linear;
}
.back:hover{
    color: white;
}
#back_top{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    color: #AED2C7;
    z-index: 5;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.1s linear;
}
#back_top:hover{
    opacity: 1;
}
.show_btn{
    display: block;
}
.hide_btn{
    display: none;
}
.whatsapp_button{
    text-decoration: none;
    position: relative;
    z-index: 4;
    color: #AED2C7;
    font-size: 20px;
    opacity: 0.5;
    transition: all 0.2s linear;
}
.whatsapp_button:hover{
    opacity: 1;
}
.fa-whatsapp{
    font-size: 30px;
}
.mainpage_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*align-items: center;*/
    /*height: 100vh;*/
}
h1{
    position: relative;
    /*padding-top: 80px;*/
    color: #71B092;
    font-weight: 600;
    font-size: 100px;
    z-index: 4;
}
h2{
    position: relative;
    padding-top: 10px;
    color: white;
    font-weight: 400;
    font-size: 60px;
    z-index: 4;
}
.navigation{
    display: flex;
    justify-content: space-around;
    /*position: relative;*/
    align-items: center;
    /*margin: 150px 0 100px;*/
    flex-wrap: wrap;

    /*height: 50%;*/
}
.nav_but{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 80px;
    background-color: rgba(113,176,146,0.5);
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: normal;
    border-radius: 15px;
    transition: all 0.2s linear;
    position: relative;
    z-index: 4;
    margin: 20px;
}
.nav_but:hover{
    color: black;
    background-color: rgba(113,176,146,1);
    bottom: 3px;
    left: 3px;
    cursor: pointer;
}

.tittle{
    font-weight: normal;
    font-size: 70px;
    margin-top: 30px;
    font-weight: 700;
}
        /*   Букеты   */
.bouq_tittle{
    color: #71B092;
}
.input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.tabs_container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.tab-content{
    width: 100%;
    display: none;
    /*padding: 20px;*/
    background-color: #AED2C7;
}
.tab{
    text-align: center;
    padding: 20px;
    flex-basis: 50%;
    font-size: 35px;
    color: #71B092;
}
#tab_mono:checked ~ label[for='tab_mono'],
#tab_mixed:checked ~ label[for='tab_mixed']{
    background-color: #AED2C7;
}

#tab_mono:checked ~ .tab-content_mono,
#tab_mixed:checked ~ .tab-content_mixed{
    display: block;
}

.bouquets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.bouquet{
    width: 230px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*padding: 20px 0px 20px;*/
    margin: 20px 15px 20px 15px;
    transition: all 0.2s linear;
}

.bouquet_image{
    height: 280px;
    width: 230px;
    position: relative;
}
.bouquet-mix{
    width: 230px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*padding: 20px 0px 20px;*/
    margin: 20px 15px 20px 15px;
    transition: all 0.2s linear;
}
.bouquet-mix_image{
    width: 180px;
}
.bouquet-info_block{
    position: absolute;
    width: 230px;
    margin-top: 180px;
    display: none;
    transition: all 0.2s;
}
.bouquet .bouquet-info_block{
    transition: all 0.2s;
}
.bouquet:hover .bouquet-info_block{
    display: block;
}
.bouquet-info_text{
    /*margin-top: 150px;*/
    background-color: rgba(174, 210, 199, 0.8);
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bouquet-info_price{
    text-align: center;
    font-size: 16px;
    color: white;
    opacity: 1;
}
.bouquet_name{
    font-size: 24px;
    text-align: center;
}
.bouquet_name a{
    font-size: 18px;
}
.whatsapp_bouquet{
    font-size: 20px;
}
.wa-button_mixed{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mix-text{
    margin-right: 10px;
}

        /*   Доставка   */
.truck_icon{
    fill: white;
    width: 512px;
    height: 512px;

}
.delivery{
    background-color: #71B092;
    position: relative;
}
.deli_container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.deli_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deli_tittle{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 30px;
    color: white;

}
.deli_text{
    font-size: 30px;
    text-align: right;
    padding: 30px 0 30px 0;
    color: white;
    width: 600px;

}


        /*    Контакты    */
.contact_tittle{
    color: #71B092;
}
.contact_text{
    color: #71B092;
    font-weight: normal;
    font-size: 30px;
    margin-top: 20px;
}
.contact_list{
    font-size: 35px;
    color: #71B092;
    margin-top: 50px;
}
.contact-item a{
    color: #71B092;
    text-decoration: none;
}
.contact-item{
    width: 100%;
    display: flex;
    margin-bottom: 10px ;
}
.contact-item_type{
    width: 200px;
    margin: 0 50px 20px 0px;
    text-align: center;
    display: flex;
}
.contact_name{
    margin-left: 15px;
    text-align: left;
}
.map_container{
    display: flex;
    margin-left: 250px;
}
#map{
    width: 550px;
    border: 3px solid #71B092;
    margin: 30px 0 30px;
}
.contact-item_value{
    line-height: 35px;
}
.contact-item_type_bold{
    font-weight: 700;
}
.mail_full{
    display: block;
}
.mail_space{
    display: none;
}



        /*   Адаптив   */
@media (max-width: 1200px) {
    .main_content{
        height: auto;
    }

    #bg_video{
        transform: scale(0.7);
    }
    #bg_block{
        top: -165px;
    }
    .container{
        max-width: 970px;
    }
    .navigation{
        margin: 100px 0 90px;
    }
    .nav_but{
        width: 250px;
        height: 80px;
        font-size: 35px;
    }
    .back_button{
        width: 150px;
        height: 45px;
        font-size: 20px;
    }
    .tittle{
        font-size: 65px;
    }
    .truck_icon{
        width: 300px;
        height: 300px;
    }
    .deli_text{
        width: 500px;
        font-size: 25px;
    }
    #map{
        width: 500px;
    }
}
@media (max-width: 992px) {
    #bg_video{
        transform: scale(0.6);
    }
    #bg_block{
        top: -220px;
    }
    .container{
        max-width: 970px;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    .navigation{
        margin: 50px 0 50px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .nav_but{
        width: 250px;
        height: 70px;
        font-size: 30px;
    }
    .back_button{
        width: 120px;
        height: 35px;
        font-size: 16px;
    }
    .tittle{
        font-size: 35px;
    }
    .truck_icon{
        width: 250px;
        height: 250px;
    }
    .deli_text{
        width: 400px;
        font-size: 20px;
    }
    .contact_list{
        font-size: 25px;
    }
    #map{
        width: 450px;
    }
}
 @media (max-width: 767px) {

    #bg_video{
        transform: scale(0.8);
    }
    #bg_block{
        top: -120px;
    }
    .container{
        max-width: none;
    }
    .back_button{
        width: 75px;
        height: 25px;
        font-size: 12px;
    }
    .whatsapp_button{
        font-size: 15px;
    }
    .fa-whatsapp{
        font-size: 15px;
    }
    #main_container{
        height: 100vh;
    }
    .mainpage_content{

    }
    .tittle{
        font-size: 30px;
    }
    h1{
        margin-top: 10px;
        font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    .nav_but{
        width: 180px;
        height: 50px;
        font-size: 25px;
    }
    #back_top{
        bottom: 10px;
        right: 10px;
        font-size: 20px;
    }
    .deli_content{
        flex-wrap: wrap;
        justify-content: center;
    }
     .truck_icon{
         width: 160px;
         height: 160px;
     }
    .deli_text{
        font-size: 16px;
        width: 300px;
    }
    .deli_container{
        max-width: none;
        padding: 5px;
    }

    .tab{
        font-size: 12px;
    }
    .bouquet{
        width: 150px;
        height: auto;
        display: flex;
    }

    .bouquet_image{
        width: 150px;
        height: 187px;
    }
    .bouquet-info_block{
        width: 150px;
        display: block;
        margin-top: 107px;

    }
    .bouquet-info_text{
        height: 80px;
    }
    .bouquet-info_price{
        font-size: 10px;
    }
     .mix-text{
         font-size: 14px;
     }
    .contact_text{
        font-size: 15px;
    }
    .contact-item_type{
        width: 100px
    }
    .contact-item_value {
        width: 100%;
        text-align: left;
    }
    .contact_list{
        font-size: 15px;
    }
    .contact_name{
        margin: 0;
        text-align: center;
    }
    #map{
        width: 200px;
    }
    .map_container{
        justify-content: left;
        margin: 0;
    }
    .contact-item_type{
        display: block;
    }
     #back_top{
         bottom: 30px;
         left: 20px;
         font-size: 30px;
     }
     .show_btn{
         width: 30px;
     }


 }

@media (max-width: 767px)and(max-height: 570px ){
    #bg_video{
        transform: scale(0.55);
    }
    #bg_block{
        top: -250px;
    }
}

@media (max-width: 300px){
    .tab{
        font-size: 8px;
    }
    .deli_text{
        font-size: 12px;
        width: 100%;
    }
    .contact-item{
        font-size: 10px;
    }
    .contact-item_type{
        width: 120px;
        margin: 10px;
    }
    .bouquet-mix{
        height: 280px;
    }
    .bouquet-mix_image{
        width: 150px;
    }
    .mail_space{
        display: block;
    }
    .mail_full{
        display: none;
    }
    #map{
        height: 150px;
        width: auto;
    }
}